.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0;
    --font-type: "Nunito Sans", sans-serif;
    --border-style: 2px solid rgba(61, 61, 61, 0.5);
    --border-corner: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-box {
    border: var(--border-style);
    border-radius: var(--border-corner);
    padding: 0.15rem 0.2rem;
    font-family: var(--font-type);
    background-color: #eee;
}
