.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.thumbnail {
    height: 100px;
    cursor: pointer;
}

.thumbnail img {
    height: 100%;
    object-fit: contain;
    display: block;
    transition: transform 0.4s ease;
}

.thumbnail:hover img {
    transform: scale(1.05);
}