.footer {
    background-color: #6F73D2;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
}

.footer-text {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #000;
}

/* === media queries === */
@media (max-width: 320px) {
    .footer-text {
        font-size: 0.6rem;
    }
}