@import "tailwindcss";

:root {
  background-color: #D9F0FF;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* === image-button-container === */
.image-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 1rem;
  box-sizing: border-box;
  padding: 0 1rem;
}